<div class="row">
<div class="span10 homeactions">
    <ul class="thumbnails">

        <li>
            <div class="thumbnail homeaction" id="play">

                <p><a ng-click="playGame()">Play Towns</a></p>

            </div>
        </li>

        <li>
            <div class="thumbnail homeaction" id="edit">
                <p><a href="#/campaigns">Edit your campaigns</a></p>
            </div>
        </li>

        <li>
            <div class="thumbnail homeaction" id="coming">
                <p>Coming Soon!</p>
            </div>
        </li>

        <li>
            <div class="thumbnail homeaction" id="soon">
                <p>Coming Soon!</p>
            </div>
        </li>
    </ul>

    <div ui-modal class="fade modal" ng-model="needFolder" id="findFilesModal">
        <div class="modal-header">
            Uh oh!
        </div>
        <div class="modal-body">
            We can't seem to find the Towns folder. Mind finding it for us?
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="changeFolder()">Find Folder</button>
        </div>
    </div>

</div>
</div>

